p {
    font-family: sans-serif;
    color: #000000;
    margin:20px;
}
body {
    background-color: bisque;
}
header {
    background-color: #471a00;
    color:#ffd000;
    height: 80px;
    padding-left: 20px;
    border: solid #ffd000 2px;
    border-radius: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
button {
    width:100px;
    height:50px;
    color: #ffd000;
    background-color: #471a00;
    border-radius: 10px;
    border: #ffd000 dashed 2px;
    transition: 0.3s;
}
button:hover {
    transform: scale(1.1);
    background-color: #9e4b1c;
}
