header {
    background-color: #471a00;
    color:  #ffd000;
    font-family: sans-serif;
    height: 50px;
    padding-left:20px;
    
}
main {
    width:500px;
    margin:auto;
    
    z-index:0;
}
input {
    width:100%;
    height:50px;
    margin-top:10px;
}
input[type=radio] {
    width:20px;
    align-items: normal;
    
}
input[type=radio] > label {
    margin-right:80%;
}
.yn {
    display: flex;
}
label {
    margin-top: 25px;
    margin-left: 15px;
}
.exit {
    text-decoration: none;
    background-color: #ffd000;
    color: #471a00;
    border-radius: 10px;
    padding-left:200px;
    padding-top:20px;
    padding-right:200px;
    padding-bottom:20px;
    z-index: -1;
    margin-top:50px;
    margin:auto;
}
input {
    background-color: #c47500;
    color:rgb(117, 255, 209);
    border:2px dashed;
    border-radius: 5px;
    transition: 0.5s;
    font-family: sans-serif;
}
body {
    background-color: bisque;
}
input[type=radio] {
    background-color: #c47500;
}
input:hover {
    transform: scale(1.01);
    background-color: #eb8d00;
}
input:focus {
    background-color:#ffa115;
    
}
.in {
    background-color: #c47500;
    color:rgb(117, 255, 209);
    border:2px dashed;
    border-radius: 5px;
    transition: 0.5s;
    font-family: sans-serif;
}
.in:valid {
    background-color:#527000;
}

.in:invalid {
    background-color:#ff4c15;
    body {
        background-color: #a52600;
    }
}