header {
    background-color: #471a00;
    color:  #ffd000;
    font-family: sans-serif;
    height: 50px;
}
main {
    width:500px;
    margin:auto;
    display: flex;
}
input {
    width:100%;
    height:50px;
    margin-top:10px;
}
input[type=radio] {
    width:20px;
    align-items: normal;
    
}
input[type=radio] > label {
    margin-right:80%;
}
.yn {
    display: flex;
}
label {
    margin-top: 25px;
    margin-left: 15px;
}
